/* ******************** about-title ******************** */
.about .about-title {
  display: flex;
  flex-direction: column;
  gap: 36px;
  text-align: center;
}

.about .about-title h2 {
  height: calc(36px * 1.5 * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}

.about .about-typed {
  position: relative;
  font-family: inherit;
  font-size: 36px;
  line-height: 1.4;
  white-space: pre;
}

/* react-typed 커서 */
.about .about-typed + .typed-cursor {
  position: absolute;
  right: -0.5em;
  bottom: 0;
}

.about .about-title p {
  line-height: 1.6;
  font-size: 18px;
}

.about .about-title .links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* ******************** about-list ******************** */
.about .about-list {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px 88px;
  padding: 0 44px;
}

.about .about-list > li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border: 1px solid var(--color-primary);
  border-radius: 16px;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.about .about-list > li.active {
  opacity: 1;
  transform: translateY(0);
}

.about .about-list > li h3 {
  font-family: 'LibreBaskerville';
  position: absolute;
  top: 0;
  left: 12px;
  transform: translateY(-50%);
  padding: 4px 10px;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-primary);
  background-color: var(--color-midnight);
}

/* profile */
.about .about-list .profile-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.about .about-list .profile-list li {
  display: flex;
  gap: 6px;
}

.about .about-list .profile-list li strong {
  font-weight: bold;
}

/* career, educated */
.about .about-list .career-list,
.about .about-list .educated-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about .about-list .career-list li,
.about .about-list .educated-list li {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about .about-list .career-list li strong,
.about .about-list .educated-list li strong {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 18px;
}

.about .about-list .career-list li strong span,
.about .about-list .educated-list li strong span {
  font-size: 14px;
  font-weight: 300;
  color: var(--color-light-gray);
}

/* skills */
.about .about-list .skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
