@import '/src/styles/stars.css';

/* ******************** portfolio-container ******************** */
.portfolio-container {
  position: relative;
  width: 100vw;
}

/* hero section */
.portfolio-container .hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.portfolio-container .hero::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(
    180deg,
    rgba(33, 40, 50, 0) 0%,
    rgba(33, 40, 50, 1) 100%
  );
}

.portfolio-container .hero > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.portfolio-container .hero h1 {
  position: absolute;
  left: 50%;
  bottom: 6%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  font-weight: 700;
}

.portfolio-container .hero h1 span:first-child {
  text-indent: -23vw;
  font-size: 88px;
}
.portfolio-container .hero h1 span:last-child {
  text-indent: 15vw;
  font-size: 120px;
}

.portfolio-container section {
  width: 100%;
}

/* ******************** portfolio-contents ******************** */
.portfolio-container > section:not(:first-child) {
  padding: 120px 0;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
  /* border: 1px solid #fff; */
}

/* ******************** image-container ******************** */
.image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  perspective: 0px;
  overflow: hidden;
  z-index: 2;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/* ******************** projects ******************** */
.projects h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.projects .project-list {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.projects .project-list > li {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.projects .project-list > li.active {
  opacity: 1;
  transform: translateY(0);
}

/* ******************** publishing-projects ******************** */
.portfolio-container > section.pub-projects {
  padding-bottom: 100px;
}

.pub-projects h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}

.pub-projects .inner {
  position: relative;
  margin: 0 auto;
  max-width: 1100px;
}

.pub-projects .inner .move-item {
  opacity: 0;
  transform: translateY(40px);
  transition: 0.6s ease;
}

.pub-projects .inner .move-item.active {
  opacity: 1;
  transform: translateY(0);
}

.pub-projects .inner .swiper-button-prev,
.pub-projects .inner .swiper-button-next {
  top: 54%;
  color: var(--color-white);
  transition: 0.3s;
}

.pub-projects .inner .swiper-button-prev {
  left: -65px;
}

.pub-projects .inner .swiper-button-next {
  right: -65px;
}

.pub-projects .inner .swiper-button-prev:hover,
.pub-projects .inner .swiper-button-next:hover {
  color: var(--color-secondary);
}

.pub-projects .inner .pub-project-swiper {
  padding: 100px 10px 60px;
}

.pub-projects .inner .pub-project-swiper .swiper-pagination {
  bottom: 0;
}

.pub-projects
  .inner
  .pub-project-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet {
  background: var(--color-light-gray);
}

.pub-projects
  .inner
  .pub-project-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-secondary);
}
