/* ******************** RESET ******************** */

* {
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Montserrat', 'Pretendard';
  font-size: 16px;
  /* letter-spacing: -0.5px; */
  line-height: 1.5;
  overflow-wrap: break-word;
  word-break: keep-all;
  cursor: default;
  tab-size: 4;

  /* color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-primary: #2ed3b7;
  --color-primary-hover: #26b9a1;
  --color-secondary: #4da3ff;
  --color-secondary-hover: #2f7edb;
  --color-light-gray: #d6d6d6;
  --color-dark-gray: #333333;
  --color-dark-gray-hover: #555555;
  --color-midnight: #212832;
}

html,
body {
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  color: var(--color-white);
}

img,
picture,
iframe,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

iframe {
  border: 0;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
strong,
b,
th {
  font-weight: bold;
}

:focus {
  outline: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

button,
input,
select,
textarea,
pre {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background: transparent;
  border: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

.librebaskerville {
  font-family: 'LibreBaskerville';
  font-weight: 400;
}

/* ******************** FONT ******************** */
/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2'),
    url('/fonts/Pretendard-Black.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2'),
    url('/fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2'),
    url('/fonts/Pretendard-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2'),
    url('/fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2'),
    url('/fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2'),
    url('/fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtarLight.woff2') format('woff2'),
    url('/fonts/Pretendard-ExtarLight.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2'),
    url('/fonts/Pretendard-Thin.woff') format('woff');
}

/* Montserrat */
@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src:
    local('Montserrat Black'),
    url('/fonts/Montserrat-Black.woff2') format('woff2'),
    url('/fonts/Montserrat-Black.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 800;
  src:
    local('Montserrat ExtraBold'),
    url('/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('/fonts/Montserrat-ExtraBold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src:
    local('Montserrat Bold'),
    url('/fonts/Montserrat-Bold.woff2') format('woff2'),
    url('/fonts/Montserrat-Bold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src:
    local('Montserrat SemiBold'),
    url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('/fonts/Montserrat-SemiBold.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src:
    local('Montserrat Medium'),
    url('/fonts/Montserrat-Medium.woff2') format('woff2'),
    url('/fonts/Montserrat-Medium.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  src:
    local('Montserrat Regular'),
    url('/fonts/Montserrat-Regular.woff2') format('woff2'),
    url('/fonts/Montserrat-Regular.woff') format('woff');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

/* Libre Baskerville */
@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 700;
  src:
    local('LibreBaskerville Bold'),
    url('/fonts/LibreBaskerville-Bold.woff2') format('woff2'),
    url('/fonts/LibreBaskerville-Bold.woff') format('woff');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 600;
  src:
    local('LibreBaskerville SemiBold'),
    url('/fonts/LibreBaskerville-SemiBold.woff2') format('woff2'),
    url('/fonts/LibreBaskerville-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 500;
  src:
    local('LibreBaskerville Medium'),
    url('/fonts/LibreBaskerville-Medium.woff2') format('woff2'),
    url('/fonts/LibreBaskerville-Medium.woff') format('woff');
}

@font-face {
  font-family: 'LibreBaskerville';
  font-weight: 400;
  src:
    local('LibreBaskerville Regular'),
    url('/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
    url('/fonts/LibreBaskerville-Regular.woff') format('woff');
}
